html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button:focus {
  outline: none;
}

form {
  max-width: 540px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

form > *:not(:last-child) {
  margin-bottom: 1.5em;
}
