.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.mapboxgl-popup-content {
  padding: 0px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}
